
@{
    ViewData["Title"] = "Benefits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="panel-heading">
        <p style="color:blue;"> @Html.ViewData["Status"] </p>
    </div>
</div>
<div class="row">
    <div class="panel-heading">
        <p>Select File ( <a asp-action="Download" title="Click for download" asp-route-id="BenefitTemplate.xlsx">Download Template</a>) :</p>
    </div>
</div>
<form method="post" asp-action="Upload" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <input type="file" id="reportfile" name="reportfile" class="form-control" />
        </div>
        <div class="col-md-8">
            <input type="submit" id="btnUpload" value="Upload" />
        </div>
    </div>
    <div id="dvData"></div>
</form>